/* If applicable, background pattern from Subtle Patterns */

/*~~~~~ Typography Start ~~~~~*/

html {font-size:100%;}
body {font-family: 'Open Sans', sans-serif;font-size: 0.875rem;line-height: 1.5rem;color: #666;background-color: #fff;}
h1, h2, h3, h4, h5, h6 {color: #333;}
h1 {margin-bottom: 1.25rem;}
h2 {font-size: 1.875rem;margin-bottom: 1.25rem;}
h3 {font-size: 1.125rem;}
.btn.btn-primary:hover {background-color: #017fb5;}
.btn.btn-primary:hover {background-color: #017fb5;}
.btn:hover {color: #fff;}
a {text-decoration: none;-webkit-transition: 300ms;-moz-transition: 300ms;-o-transition: 300ms;transition: 300ms;}
a:focus, a:hover {opacity: 0.7;text-decoration: underline;}
section {padding: 1.5625rem 0;}
section .title h2 {background: #f3f3f3;padding: 0.9375rem;font-size: 1.5rem;font-weight: 900;margin-bottom: 2.1875rem;text-transform: uppercase;}
.preloader {position: fixed;top: 0;left: 0;right: 0;bottom: 0;z-index: 999999;background: #fff;}
.preloader > i {position: absolute;font-size: 2.25rem;line-height: 2.25rem;top: 50%;left: 50%;height: 2.25rem;width: 2.25rem;margin-top: -0.9375rem;margin-left: -0.9375rem;display: inline-block;color: #555;}
.heading {margin:1.25rem 0;}
.heading h1, h2, h3 {margin:0;}
.header-text h1 {margin-bottom: 0.625rem;}
.header-text h1 a {color: #fff;}
.header-text h1 a:hover, .header-text h1 a:focus {text-decoration: none;}
.header-text h2 {color: #ddd;margin-bottom: 1.25rem;font-size: 1.25rem;}
.home-text h1 {margin-top: 0;}
.content-title, .timeline-title {border-bottom: 0.0625rem solid #cdcdcd;margin: 0.625rem 0 1.375rem;color: #444;}
.content-title h1 {margin-bottom: 0;}
.content-title h2 {margin-top: 1.875rem;margin-bottom: 0;font-size: 1.5rem;}
.timeline-title h2 {margin: 0;font-size: 1.625rem;}
.notfoundbtn {margin:2.5rem 0;}


/*~~~~~ Typography End ~~~~~*/


/*~~~~~ General Start ~~~~~*/

.back-to-top {position: fixed;bottom:0.625rem;right: 0.625rem;border: 0;width: 2.5rem;height: 2.5rem;line-height: 2.5rem;text-align: center;color: #fff;font-size: 1.375rem;outline: 0;padding: 0;visibility: hidden;transition: all .15s ease-in-out;cursor:pointer;}
.back-to-top:focus {outline: 0}
.back-to-top:hover {margin-bottom: 0.1875rem;}
.back-to-top.on {opacity: 1;visibility: visible}
.home {padding:0;}
.home .container .row {border-bottom: 0.0625rem solid #eee;padding: 1.25rem 0;}
.home .container>.row:last-child {border-bottom: none;}
.ruleright {border-right:0.0625rem solid #eee;}
/* Display dividing lines correctly in Koken Admin Panel */
.home .container>i:last-child>.row {border-bottom: none;}
.breadcrumbs { margin-bottom: 1rem; }
@media (min-width: 768px) {
	.back-to-top {right: 1.875rem;bottom: 2.5rem;}
}
@media (min-width: 1200px) {
	body.boxed #all {position: relative;background: #fff;width: 1100px;margin: 0 auto;overflow: hidden;-webkit-box-shadow: 0 0 0.3125rem #cccccc;box-shadow: 0 0 0.3125rem #cccccc;}
	.container {width: 1070px;}
}

/*~~~~~ General End ~~~~~*/


/*~~~~~ Header Start ~~~~~*/

/* Navbar */
#header .navbar-default {background-size: 50% 100%;margin-bottom: 0.3125rem;padding:0;}
#header .navbar-default .k-nav-root {margin: 0;margin-right: auto;margin-left: auto;padding: 0;}
#header .navbar-default .k-nav-root>li {margin-right: 0.125rem;margin-left: 0.125rem;line-height: 1.25rem;}
#header .navbar-default .k-nav-root>li>a {position: relative;display: block;padding: 0.625rem 0.9375rem;color: #fff;border-top: 0.1875rem solid rgba(0,0,0,0);}
#header .navbar-default .k-nav-root>li>.k-nav-current {background-color: #fbfbfb;border-top: 0.1875rem double #ddd;}
#header .navbar-default .k-nav-root a:hover, #header .navbar-default .k-nav-root>li>.k-nav-current:hover {background-color: #fdfdfd !important;border-top: 0.1875rem solid #aaa;}
#header .navbar-default .k-nav-root .k-nav-open .k-nav-set>li>a {color: #fff;}
#header .navbar {border: none;border-radius: 0;}
@media (min-width: 992px) {
	.navbar-default .k-nav-root .k-nav-open .k-nav-set>li>a {color: #333;}
	.k-nav-set a:hover {border-top: none !important;background-color: #ddd !important;}
	.k-nav-root>li>a {padding-top: 0.9375rem;padding-bottom: 0.9375rem;}
}

/* Header Wrap */
#header .navbar-brand {margin: 0 1rem;}
#header .navbar-brand img {max-height:16rem;}
#header .navcontainer {width: 100%;display: block;align-items: center;-webkit-box-align: center;position: relative;margin-left: auto;margin-right: auto;}
#header .header-logo, #header .header-text {display: block;margin: 2.5rem 0;}
#header .header-logo img {margin: auto;}
@media (min-width: 992px) {
	#header .navcontainer {padding-right: 0.9375rem;padding-left: 0.9375rem;}
}

/* Header Menu */
#header .navbar-toggler-right {right: 0.5rem;top: 0.5rem;}
#header .navbar-toggler {color: #fff;}
#header .header-menu {width: 100%;}
#header .header-menu ul {text-align: center;float: inherit;}
#header .header-menu ul.k-nav-root>li {display: inline-block;float: inherit;}
@media (max-width: 480px) {
	#header .header-menu.in {position: absolute;top: 2.5rem;z-index: 10;border: 0 solid #fff;}
	#header .header-menu.in .k-nav-root>li {display: block;text-align: left;}
}
/*~~~~~ Header End ~~~~~*/


/*~~~~~ Slider Start ~~~~~*/

#slider img {width: 100%;}
.pulse-control ul {margin:0.3125rem 0 0 0;}
.pulse-control ul li a {color: #999;}
.pulse-control ul li a:focus {opacity:1;}

/*~~~~~ Slider End ~~~~~*/


/*~~~~~ Albums Start ~~~~~*/

#album, #albums {margin: 1.25rem 0;}
#album a, #albums a, #featuredalbums a {text-decoration: none;}
#albumhead {padding: 0 1.25rem;}
#album .thumbnail, #albums .thumbnail, #featuredalbums .thumbnail {padding: 0;margin-bottom: 1.875rem;background-color: #fff;border-radius: 0.25rem;border: none;transition: 0.15s ease-in-out;box-shadow: 0 0.5rem 0.9375rem rgba(0, 0, 0, 0.06);}
#albums .thumbnail, #featuredalbums .thumbnail {height:90%;}
#album .thumbnail:hover, #albums .thumbnail:hover, #featuredalbums .thumbnail:hover {transform: translateY(-0.625rem) scale(1.02);}
#album img, #albums img, #featuredalbums img {border-radius: 0.25rem 0.25rem 0 0;}
#album .nocap img, #albums .nocap img, #featuredalbums .nocap img {border-radius: 0.25rem}
#album .caption, #albums .caption, #featuredalbums .caption {padding: 1.625rem 1.875rem;text-align: center;}
#album .caption h3,#albums .caption h3, #featuredalbums .caption h3 {font-size: 0.875rem;font-weight: bold;margin-top: 0;}
#album .caption p, #albums .caption p, #featuredalbums .caption p {font-size: 0.75rem;color: #7b7d7d;margin: 0;}
#featuredalbums {text-align: center;}
.featalbumtext {text-align: center;margin-top: 1.25rem;}

/*~~~~~ Albums End ~~~~~*/


/*~~~~~ Social Buttons Start ~~~~~*/

.btn-social {border-radius: 0.1875rem;color: #fff;display: inline-block;font-size: 0.875rem;font-family: Helvetica, Arial, sans-serif;font-weight: bold;height: 1.5625rem;line-height: 1.6875rem;margin-top: 0.625rem;text-align: center;text-decoration: none;vertical-align: middle;-webkit-font-smoothing: antialiased;padding: 0 0.5rem;}
.btn-social:hover, .btn-social:focus {text-decoration:none;opacity:1;color:#fff;}
.btn-social i {margin-right:0.3125rem;}
.btn-facebook {background: #4267b2;}
.btn-facebook:hover, .btn-facebook:focus {background: #365899;}
.btn-twitter {background: #1b95e0;}
.btn-twitter:hover, .btn-twitter:focus {background: #0c7abf;}
.btn-pinterest {background: #bd081c;}
.btn-pinterest:hover, .btn-pinterest:focus {background: #aa0719;}
.btn-google-plus {background: #E0483A;}
.btn-google-plus:hover, .btn-google-plus:focus {background: #B73B2F;}
.btn-tumblr {background: #36465D;}
.btn-tumblr:hover, .btn-tumblr:focus {background: #25303F;}

/*~~~~~ Social Button End ~~~~~*/


/*~~~~~ Lazy Loader Start ~~~~~*/

.imgwrap {position:relative;width: 100%;padding-top: 60%; height: 0 !important;}
.imgwrap img {position: absolute;top: 0;left: 0;}
.loadwrap {display: none;position: absolute;width: 100%;height: 100%;top: 0;left: 0;}
.k-lazy-loading ~ .loadwrap {display: table;}
.loaderpos {display: table-cell;vertical-align: middle;text-align: center;font-size: 1.25rem;color: #555;}

/*~~~~~ Lazy Loader End ~~~~~*/


/*~~~~~ Timeline Start ~~~~~*/

.row-timeline {border: 0.0625rem solid #ddd;background-color: #fafafa;border-radius: 0.375rem;padding:1.25rem 0;margin:1.25rem 0;}
.row-timeline img {border-radius: 0.25rem;margin-bottom:0.625rem;}
.row-timeline h1 {border-radius: 0.25rem;}

/*~~~~~ Timeline End ~~~~~*/


/*~~~~~ Content Properties Start ~~~~~*/

.cptable {display: table;border: none;width: 100%;}
.cptr {display: table-row;padding: 0.3125rem;border-bottom: 0.0625rem solid #cdcdcd;}
.cptd {display: table-cell;padding: 0.3125rem;border-bottom: 0.0625rem solid #cdcdcd;}

/*~~~~~ Content Properties End ~~~~~*/

/*~~~~~ Contact Form Start ~~~~~*/

fieldset[class^="k-contact-form-"], fieldset[class*=" k-contact-form-"] {margin-bottom: 0.9375rem;}
fieldset[class^="k-contact-form-"]>label, fieldset[class*=" k-contact-form-"]>label {margin-bottom: 0.3rem;}
.k-contact-form-email-field>input[type=email], .k-contact-form-textarea-field>textarea, .k-contact-form-text-field>input[type=text], .k-contact-form-tel-field>input[type=tel] {font-size: 0.9375rem;box-shadow: none;outline: none;border: 0.0625rem solid #ddd;padding: 0.125rem 0.625rem;background-color: transparent;-webkit-appearance: none;-webkit-border-radius: 0;display: block;width: 50%;}
.k-contact-form-email-field>input[type=email], .k-contact-form-text-field>input[type=text], .k-contact-form-tel-field>input[type=tel] {height: 2.1875rem;}
.k-contact-form-required-field:after {color: rgb(255,100,100);content: "This field is required";}
.k-contact-form-submit>button {color: #fff;display: inline-block;padding: 0.375rem 0.75rem;text-align: center;vertical-align: middle;cursor: pointer;border: 0.0625rem solid transparent;border-radius: 0.25rem;opacity:1;}
.k-contact-form-submit>button:hover {opacity: 0.9;}

/*~~~~~ Contact Form End ~~~~~*/


/*~~~~~ Search Form Start ~~~~~*/

#search {width: 100%;border: none;}

/*~~~~~ Search Form End ~~~~~*/


/*~~~~~ Footer Start ~~~~~*/

#footer .footer-left, #footer .footer-right {text-align: center;}
#footer .footer-bottom {padding: 1.25rem 1.25rem 0.5rem;}
@media (min-width: 576px) {
	#footer .footer-left {text-align: left;float: left;}
	#footer .footer-right {text-align: right;float: right;}
}

/*~~~~~ Footer End ~~~~~*/