<span>Content not Found</span>
	<div class="row justify-content-center">
		<div class="col-md-6 text-center">
			<h1>Content not found!</h1>
			<hr>
			<p>Sorry, we cannot find the content you are looking for. Please check the address or link you followed for any mistakes, and visit our homepage where you can access all of our website content.</p>
			<p>Alternatively, if you believe this is a mistake and there should be content here, please contact us.</p>
			<div class="notfoundbtn">
				<a href="/" class="btn btn-lg btn-success" role="button">Go to Home</a>
			</div>
		</div>
	</div>