<koken:event_album_update>
	<div class="row row-timeline">
		<koken:loop>
			<div class="col-md-2">
				<koken:link>
					<koken:img size="8:5" />
				</koken:link>
			</div>
		</koken:loop>
		<div class="col-md-12">
			<div class="timeline-title">
				<h2>
					New {{ labels.content.plural }} added to {{ labels.album.singular }}:
				</h2>
			</div>
			<h3>
				<koken:link>
					{{ album.title }} ({{ content.length }} new items)
				</koken:link>
			</h3> 
			<p>
				{{ album.summary }}
			</p>
		</div>
	</div>
</koken:event_album>